<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Login — Secure Panel</title>

<link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

<nav>
  <a href="/" class="nav-brand">⚔ Vertiè<span>r</span>es</a>

  <ul class="nav-links">
    <li><a href="/">Home</a></li>
    <li><a href="/login">Login</a></li>
  </ul>
</nav>


<div class="container" style="padding-top:3rem; padding-bottom:5rem;">

  <div style="margin-bottom:2rem;">
    <h1 style="font-family:var(--display); font-size:1.8rem; color:var(--gold);">
      Secure Access Portal
    </h1>
  </div>


  <div class="terminal">

    <span class="comment">Authentication required</span><br><br>

    {% if error %}
      <span style="color:red">{{ error }}</span><br><br>
    {% endif %}

    <form method="POST">

      <span class="prompt">username:</span><br>
      <input type="text" name="username" required style="width:100%; margin-bottom:1rem;"><br>

      <span class="prompt">password:</span><br>
      <input type="password" name="password" required style="width:100%; margin-bottom:1rem;"><br>

      <button type="submit" style="margin-top:10px;">
        Login
      </button>

    </form>

  </div>

</div>


<footer>
  <span>CTF LOGIN PORTAL</span> — CHALLENGE AUTHOR — shadow_alvan
</footer>

</body>
</html>